lyricsgenius
pycontractions https://stackoverflow.com/questions/66389354/pip-install-error-with-pycontractions-error-command-errored-out-with-exit-stat/72476591#72476591

sudo update-alternatives --config java

